<%= form_for @mutant do |f| %>
  <% if @mutant.errors.any? %>
  <div id="error_explanation">
    <h2>Errors:</h2>
    <% @mutant.errors.full_messages.each do |msg| %>
      <%= msg %><br/>
    <% end %>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :superpower %><br>
    <%= f.text_field :superpower %>
  </p>

  <p>
    <%= f.label :cv %><br>
    <%= f.text_area :cv %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>