<h1>Listing mutants</h1>

<br>
<p style="margin:20px" >
<%= link_to 'New Mutant', new_mutant_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-default' %>
</p>
<br>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Superpower</th>
    <th>cv</th>
    <th colspan="4" ></th>
  </tr>

  <% @mutants.each do |mutant| %>
    <tr>
      <td><%= mutant.name %></td>
      <td><%= mutant.superpower %></td>
      <td><%= mutant.cv %></td>
      <td><%= link_to 'Show', mutant_path(mutant), class: 'btn btn-success btn-xs' %></td>
      <td><%= link_to 'Edit', edit_mutant_path(mutant), class: 'btn btn-warning btn-xs' %></td>
      <td><%= link_to 'Delete', mutant_path(mutant), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

