@import "sass/_all";
@import 'bootstrap';

<h1>Listing mutants</h1>

<%= link_to 'New Mutant', new_mutant_path %>
<%= link_to 'Home', welcome_index_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Superpower</th>
    <th>cv</th>
    <th colspan="4" ></th>
  </tr>

  <% @mutants.each do |mutant| %>
    <tr>
      <td><%= mutant.name %></td>
      <td><%= mutant.superpower %></td>
      <td><%= mutant.cv %></td>
      <td><%= link_to 'Show', mutant_path(mutant) %></td>
      <td><%= link_to 'Edit', edit_mutant_path(mutant) %></td>
      <td><%= link_to 'Delete', mutant_path(mutant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

